$colors: (
	common: (
		white: #ffffff,
		black: #000000,
	),
	heading: (
		primary: #f6f7f7,
	),
	text: (
		body: #bcbdb9,
		body-2: #999996,
	),
	theme: (
		primary: #ffffff,
		bg: #191a18,
		dark: #050505,
		dark-2: #494a46,
		dark-3: #6d6e68,
	),
	white: (
		2: rgba(255, 255, 255, 0.8),
	),
	grey: (
		1: #9692b2,
		2: #78758f,
		3: rgba(150, 146, 178, 0.8),
	),
	border: (
		1: #282926,
	),
	golden: (
		1: #fdb900,
	),
);
