@use "../utilities" as *;

/**
  Buttons CSS
*/

.tj-primary-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: #ffffff;
	font-size: 16px;
	font-weight: var(--tj-fw-sbold);
	padding: 5px 5px 5px 30px;
	text-align: center;
	border-radius: 50px;
	line-height: 1;
	position: relative;
	z-index: 2;
	overflow: hidden;
	white-space: nowrap;
	.btn-text {
		color: #000000;
		overflow: hidden;
		span {
			display: flex;
			line-height: 1;
			text-shadow: 0 30px 0 var(--tj-color-common-black);
			backface-visibility: hidden;
			transform: translateY(0);
			transition: 0.4s ease-in-out;
		}
	}
	.btn-icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 22px;
		line-height: 1;
		width: 46px;
		height: 46px;
		overflow: hidden;
		border-radius: 50%;
		&::before {
			content: "";
			background-color: var(--tj-color-theme-dark);
			width: 46px;
			height: calc(100% - 10px);
			position: absolute;
			right: 5px;
			top: 5px;
			z-index: -1;
			border-radius: 50px;
		}
		i {
			color: var(--tj-color-common-white);
			transform: rotate(-45deg);
			transition: all 0.3s ease-in-out;
		}
	}
	&:hover {
		.btn-text {
			color: #ffffff !important;
			span {
				color: #ffffff !important;
				text-shadow: 0 30px 0 #ffffff !important;
				transform: translateY(-30px);
			}
		}
		.btn-icon {
			&::before {
				width: calc(100% - 10px);
			}
			i {
				transform: rotate(0);
			}
		}
	}
	&.style-2 {
		background-color: var(--tj-color-theme-bg);
		border: 1px solid var(--tj-color-border-1);
		padding: 4px 4px 4px 29px;
		.btn-text {
			color: var(--tj-color-common-white);
			span {
				text-shadow: 0 30px 0 var(--tj-color-theme-dark);
			}
		}
		.btn-icon {
			&::before {
				background-color: var(--tj-color-theme-primary);
				right: 4px;
				top: 4px;
			}
			i {
				color: var(--tj-color-theme-bg);
			}
		}
	}
	&.style-3 {
		background-color: #ffffff;
	}
}
.tj-text-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	color: var(--tj-color-text-body);
	font-size: 16px;
	line-height: 1;
	font-weight: var(--tj-fw-sbold);
	position: relative;
	z-index: 2;
	overflow: hidden;

	.btn-inner {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		margin-inline-start: -14px;
	}
	.btn-text {
		span {
			display: inline-flex;
			line-height: 1;
		}
	}
	.btn-icon {
		font-size: 10px;
		line-height: 1;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-top: 2px;
		span {
			display: inline-flex;
			line-height: 1;
		}
	}

	&.style-2 {
		color: var(--tj-color-text-body-2);
		line-height: 1.3;

		&::before {
			content: "";
			height: 1px;
			width: 100%;
			background-color: var(--tj-color-heading-primary);
			position: absolute;
			left: 0;
			bottom: 0;
			transform: scaleX(0);
			transform-origin: right;
			transition: transform 0.3s ease-in-out;
		}

		i,
		svg {
			display: inline-flex;
			line-height: 1;
			font-size: 10px;
			margin-top: 2px;
		}
		svg {
			max-width: 10px;
		}
	}

	&:hover {
		color: var(--tj-color-theme-primary);
		.btn-inner {
			margin-inline-start: 0;
			margin-inline-end: -14px;
		}

		&.style-2 {
			color: var(--tj-color-heading-primary);
			&::before {
				transform-origin: left;
				transform: scaleX(1);
			}
		}
	}

	&.style-3 {
		gap: 10px;
		text-align: center;

		.btn-text {
			color: var(--tj-color-heading-primary);
			overflow: hidden;

			span {
				display: flex;
				line-height: 1;
				text-shadow: 0 30px 0;
				backface-visibility: hidden;
				transform: translateY(0);
				transition: 0.4s ease-in-out;
			}
		}
		.btn-icon {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-size: 20px;
			line-height: 1;
			width: 24px;
			height: 24px;
			overflow: hidden;
			background-color: #ffffff;
			border-radius: 50%;
			color: #000000;

			i,
			svg {
				display: inline-flex;
				line-height: 1;
				transform: rotate(-45deg);
				transition: all 0.3s ease-in-out;
			}
			svg {
				max-width: 20px;
				height: a;
			}
		}
		&:hover {
			.btn-text {
				span {
					transform: translateY(-30px);
				}
			}
			.btn-icon {
				background-color: #ffffff;
				color: #000000;

				i,
				svg {
					transform: rotate(0);
				}
			}
		}
	}
}

.tj-icon-btn {
	font-size: 22px;
	width: 60px;
	height: 60px;
	background-color: var(--tj-color-theme-bg);
	border: 1px solid var(--tj-color-border-1);
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	i {
		color: var(--tj-color-common-white);
		transform: rotate(-45deg);
		transition: all 0.3s ease-in-out;
	}
	&:hover {
		background-color: #ffffff;
		i {
			color: #000000;
			transform: rotate(0);
		}
	}
}
