@use "../utilities" as *;

/**----------------------------------------
START: Animate CSS
----------------------------------------*/

@keyframes sticky {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes pulse {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.8);
	}
}

@keyframes pulse2 {
	0% {
		box-shadow: 0 0 0 0 rgba(211, 237, 49, 1);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}
}

@keyframes pulse3 {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	}
	100% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
}

@keyframes pulsePrimary {
	0% {
		box-shadow: 0 0 0 0 rgba(211, 237, 49, 0.5);
	}
	100% {
		box-shadow: 0 0 0 16px rgba(211, 237, 49, 0);
	}
}

@keyframes jumping {
	0% {
		transform: translateY(2px);
	}
	25% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(-6px);
	}
	75% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(2px);
	}
}

@keyframes lineHover {
	0% {
		width: 100%;
	}
	50% {
		width: 0;
		right: 0;
	}
	100% {
		width: 100%;
		left: 0;
	}
}

@keyframes textRotate {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes rotateClock {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotateAntiClock {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes gelatine {
	from,
	to {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(0.7, 1.1);
	}
	50% {
		transform: scale(1.1, 0.7);
	}
	75% {
		transform: scale(0.95, 1.05);
	}
}

@include keyframes(borderanimate) {
	0% {
		transform: translate(-50%, -50%) scale(0.8);
	}
	60% {
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) scale(1.5);
		opacity: 0;
	}
}

@keyframes bellShake {
	0% {
		transform: rotate(0);
	}
	10% {
		transform: rotate(5deg);
	}
	20% {
		transform: rotate(-5deg);
	}
	30% {
		transform: rotate(4deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(2deg);
	}
	60% {
		transform: rotate(-2deg);
	}
	70% {
		transform: rotate(1deg);
	}
	80%,
	90%,
	100% {
		transform: rotate(0);
	}
}

@keyframes shine {
	0% {
		transform: skewX(-25deg) translateX(0);
	}
	100% {
		transform: skewX(-25deg) translateX(250%);
	}
}
.tj-bounce {
	animation: bounceAnim 4s linear infinite;
}
@keyframes bounceAnim {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(0);
	}
}

.bounce-twice {
	animation: bounceTwice 5s linear infinite;
}
@keyframes bounceTwice {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-5px);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

.zoomInOut {
	animation: zoomEffect 3s linear infinite;
}
@include keyframes(zoomEffect) {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0.9);
	}
}

@keyframes running {
	0% {
		top: 100%;
	}
	50% {
		top: 0%;
	}
	100% {
		top: 100%;
	}
}

@keyframes running-2 {
	0% {
		top: 0%;
	}
	50% {
		top: 100%;
	}
	100% {
		top: 0%;
	}
}
@keyframes movingHorizontal {
	0% {
		left: 0;
	}
	50% {
		left: 95%;
	}
	100% {
		left: 0;
	}
}

@keyframes flip {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

.circle-ripple {
	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 50%;
	}
	&::before {
		animation: ripple 2s linear infinite;
	}

	&::after {
		animation: ripple 2s linear 1s infinite;
	}
}

@keyframes ripple {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
		opacity: 1;
	}
	100% {
		transform: scale(1.6);
		opacity: 0;
	}
}

/* !END: Animate CSS */
