@use "../utilities" as *;

/**----------------------------------------
START: Contact CSS
----------------------------------------*/
.tj-contact-section {
	background-color: var(--tj-color-theme-bg);
	border-radius: 16px;
	position: relative;
	z-index: 1;
	.sec-heading {
		max-width: 500px;
		margin-bottom: 0;
	}
	.bg-img {
		opacity: 0.12;
		mix-blend-mode: luminosity;
	}
	&::before {
		content: "";
		position: absolute;
		top: 20%;
		right: 30%;
		width: 550px;
		height: 550px;
		border-radius: 50%;
		background: var(--tj-color-theme-primary);
		-webkit-filter: blur(75px);
		filter: blur(75px);
		opacity: 0.1;
		z-index: -1;
	}
	@media #{$md, $sm, $xs} {
		border-radius: 12px;
	}
}

.map-area {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	overflow: hidden;
	background-color: var(--tj-color-theme-bg);
	padding: 15px;

	iframe,
	#map {
		width: 100%;
		height: 100%;
		min-height: 360px;
		display: block;
		overflow: hidden;
	}
	@media #{$md, $sm, $xs} {
		height: auto;
		margin-top: 30px;
	}
	.leaflet-container {
		background: transparent;
	}

	.custom-marker {
		font-size: 45px;
		font-family: "tekmino-icon" !important;
		&::before {
			color: var(--tj-color-theme-primary);
		}
	}
}
.contact-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding-bottom: 25px;
	.contact-info {
		margin-top: 25px;
	}
}
.contact-info {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	.contact-item {
		max-width: 205px;
		width: 100%;
		&:not(:last-child) {
			padding-right: 15px;
			border-right: 1px solid var(--tj-color-border-1);
			@media #{$lg, $xs} {
				border: 0;
			}
		}
		.subtitle {
			display: block;
			font-size: 14px;
			line-height: 1;
			color: var(--tj-color-text-body);
			margin-bottom: 7px;
		}
		.title {
			color: var(--tj-color-common-white);
			font-size: 16px;
			font-family: var(--tj-ff-body);
			font-weight: var(--tj-fw-sbold);
			letter-spacing: 0;
		}
		a {
			&.contact-link {
				color: var(--tj-color-text-body);
				&:hover {
					color: var(--tj-color-common-white);
				}
				&:last-child {
					color: var(--tj-color-theme-primary);
					position: relative;
					&::after {
						content: "";
						position: absolute;
						bottom: 4px;
						inset-inline-end: 0;
						width: 100%;
						height: 1px;
						background-color: var(--tj-color-theme-primary);
					}
					&:hover {
						color: var(--tj-color-theme-primary);
						&::after {
							animation: lineHover 0.8s linear;
						}
					}
				}
			}
		}
		.contact-link {
			display: inline-flex;
			span {
				color: var(--tj-color-theme-primary);
				margin-inline-start: 4px;
			}
		}
	}
	@media #{$xs} {
		gap: 20px;
	}
}

.contact-form {
	background-color: var(--tj-color-theme-bg);
	margin-inline-start: 0;
	margin-inline-end: 15px;
	padding: 60px 35px;
	border-radius: 12px;
	.title {
		margin-bottom: 35px;
		@media #{$sm, $xs} {
			margin-bottom: 25px;
		}
	}
	.form-input {
		margin-bottom: 20px;
		position: relative;
		textarea,
		select,
		.nice-select,
		input[type="tel"],
		input[type="text"],
		input[type="email"] {
			@include placeholder {
				color: var(--tj-color-text-body-2);
			}
			@media #{$sm, $xs} {
				padding: 10px;
			}
		}
		.cf-label {
			font-size: 16px;
			color: var(--tj-color-text-body-2);
			margin-bottom: 9px;
			span {
				color: var(--tj-color-theme-primary);
			}
		}
		.nice-select {
			color: var(--tj-color-text-body-2);
			line-height: 1.625;
			margin-bottom: 20px;
			.list {
				width: 100%;
				border-radius: 8px;
				background-color: var(--tj-color-theme-dark);
				border: 1px solid var(--tj-color-border-1);
				padding: 10px 0;
				.option {
					padding: 0 15px;
					&:hover,
					&.focus {
						color: var(--tj-color-theme-primary);
						background-color: transparent;
					}
					&.selected {
						background-color: transparent;
						font-weight: normal;
					}
				}
			}
			&::after {
				border-color: var(--tj-color-theme-dark-3);
				width: 8px;
				height: 8px;
				top: 20px;
				right: 17px;
			}
			@media #{$sm, $xs} {
				margin-bottom: 20px;
			}
		}
		textarea {
			height: 130px;
			resize: none;
		}
		&.message-input {
			margin-bottom: 30px;
		}
		@media #{$sm, $xs} {
			margin-bottom: 20px;
		}
	}

	@media #{$md, $sm, $xs} {
		max-width: 100%;
		margin-inline-end: 0;
	}
	@media #{$sm, $xs} {
		padding: 35px 20px 40px;
	}

	&.style-2 {
		background-color: var(--tj-color-theme-dark);
		max-width: 610px;
		width: 100%;
		border: 1px solid var(--tj-color-border-1);
		margin-inline-start: auto;
		margin-inline-end: 0;
		padding: 60px 50px;
		.title {
			margin-bottom: 35px;
			span {
				color: var(--tj-color-theme-primary);
			}
			@media #{$md, $sm, $xs} {
				margin-bottom: 20px;
			}
		}
		.form-input {
			margin-bottom: 22px;
			position: relative;
			&.message-input {
				margin-bottom: 30px;
				@media #{$xs} {
					margin-bottom: 20px;
				}
			}

			textarea,
			input[type="tel"],
			input[type="text"],
			input[type="email"] {
				background-color: var(--tj-color-theme-bg);
				color: var(--tj-color-heading-primary);
				padding: 8px 20px;
				@include placeholder {
					color: var(--tj-color-text-body-2);
				}
			}
			.nice-select {
				background-color: var(--tj-color-theme-bg);
				padding: 8px 20px;
				.list {
					background-color: var(--tj-color-theme-bg);
				}
			}
		}
		@media #{$xl} {
			padding: 50px 30px;
		}
		@media #{$lg, $sm, $xs} {
			padding: 35px 20px 40px 20px;
		}
		@media #{$md, $sm, $xs} {
			max-width: 100%;
			margin-inline-start: 0;
		}
	}
	&-3 {
		.form-input {
			select,
			.nice-select,
			input[type="search"],
			input[type="tel"],
			input[type="text"],
			input[type="email"],
			input[type="url"],
			textarea {
				padding: 12px 20px;
				&::placeholder {
					color: var(--tj-color-text-body-2);
				}
			}
			textarea {
				height: 205px;
				@media #{$sm,$xs} {
					height: 170px;
				}
			}
		}
	}
}

.contact {
	&-item {
		&.style-2 {
			padding: 30px 25px 40px;
			background-color: var(--tj-color-theme-bg);
			text-align: center;
			border-radius: 10px;
			@media #{$sm, $md} {
				padding: 25px;
			}
			p {
				margin-bottom: 0;
				max-width: 224px;
				margin: 0 auto;
			}
			&:hover {
				.contact-icon {
					background: var(--tj-color-theme-primary);
					i {
						color: var(--tj-color-theme-dark);
					}
				}
			}
			.contact-icon {
				width: 88px;
				height: 88px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				background: var(--tj-color-theme-dark);
				border: 1px solid var(--tj-color-border-1);
				border-radius: 50%;
				margin-bottom: 22px;
				@include transition(all 0.3s ease-in-out 0s);
				i {
					font-size: 32px;
					color: var(--tj-color-theme-primary);
				}
			}
			.contact-title {
				font-size: 24px;
				font-weight: var(--tj-fw-sbold);
				letter-spacing: -0.02em;
				margin-bottom: 20px;
				@media #{$sm, $md} {
					font-size: 20px;
				}
			}
			.contact-list {
				list-style: none;
				li {
					a {
						color: var(--tj-color-text-body);
						&:hover {
							color: var(--tj-color-theme-primary);
						}
					}
					&.active {
						a {
							font-weight: var(--tj-fw-sbold);
							color: var(--tj-color-theme-primary);
						}
					}
				}
			}
		}
	}
}

/* !END: Contact CSS */
