@use "../utilities" as *;

/**----------------------------------------
START: Countup CSS
----------------------------------------*/
.tj-countup-section {
	position: relative;
	z-index: 2;
	overflow: hidden;
}
.countup-item {
	display: flex;
	flex-direction: column;
	position: relative;
	&.style-2 {
		padding-right: 40px;
		.count-separator.sep-2 {
			&::before {
				animation-name: running;
			}
		}
		.count-icon {
			margin-bottom: 20px;
			i {
				@include transition(all 0.4s linear 0s);
			}
		}
		&:hover {
			.count-icon {
				i {
					transform: rotateY(360deg);
				}
			}
		}
		@media #{$md, $sm, $xs} {
			padding-right: 0;
		}
		@media #{$sm, $xs} {
			overflow: hidden;
			padding-bottom: 45px;
		}
	}
}

.count-icon {
	color: var(--tj-color-theme-primary);
	font-size: 50px;
	display: inline-flex;
	line-height: 1;
}
.inline-content {
	color: var(--tj-color-common-white);
	font-size: 74px;
	line-height: 1;
	font-weight: var(--tj-fw-sbold);
	font-family: var(--tj-ff-heading);
	display: inline-flex;
	align-items: center;
	margin-bottom: 10px;
	letter-spacing: -0.03em;

	@media #{$lg} {
		font-size: 64px;
	}
	@media #{$md, $sm} {
		font-size: 60px;
	}
	@media #{$xs} {
		font-size: 54px;
	}
}

.count-text {
	color: var(--tj-color-text-body);
	font-size: 18px;
	font-weight: var(--tj-fw-medium);
	display: block;
}
.tj-countup-section-2 {
	@media #{$md, $sm, $xs} {
		background-color: var(--tj-color-theme-bg);
		border-radius: 12px;
	}
}
.funfact-3 {
	background-color: var(--tj-color-theme-dark);
	border: 1px solid var(--tj-color-border-1);
	border-radius: 16px;
	gap: 0;

	.countup-item {
		max-width: 25%;
		padding: 40px 32px 35px;
		&:not(:last-child) {
			&::after {
				height: 100%;
				inset-inline-end: 0;
				transform: translateX(50%);
			}
			&::before {
				content: "";
				width: 5px;
				height: 5px;
				background-color: var(--tj-color-theme-primary);
				border-radius: 20px;
				position: absolute;
				inset-inline-end: 0;
				top: 50%;
				transform: translate(50%, -50%);
				z-index: 1;
				animation: running-2 4s linear infinite;
				@media #{$xs} {
					animation: movingHorizontal 4s linear infinite;
				}
			}
		}
		&:nth-child(2) {
			&::before {
				animation: running-2 4s linear infinite 2s;
				@media #{$xs} {
					animation: movingHorizontal 4s linear infinite 2s;
				}
			}
		}

		.inline-content {
			font-size: 74px;
			color: var(--tj-color-common-white);
			@media #{$xl, $lg} {
				font-size: 64px;
			}
			@media #{$md, $sm,$xs} {
				font-size: 54px;
			}
		}
		.countup-icon {
			font-size: 50px;
			color: var(--tj-color-theme-primary);
			margin-bottom: 20px;
			line-height: 1;
			@media #{$xl,$lg,} {
				font-size: 48px;
			}
			@media #{$md, $sm,$xs} {
				font-size: 45px;
			}
		}
		.count-text {
			font-size: 18px;
			@media #{$xl,$lg,$md, $sm,$xs} {
				font-size: 16px;
			}
		}
	}
	@media #{$md, $sm} {
		flex-wrap: wrap;
		.countup-item {
			max-width: 50%;
			&:nth-child(2n) {
				&::after,
				&::before {
					display: none;
					inset-inline-end: auto;
					border-inline-end: 0;
				}
			}
			&:not(:last-child, :nth-last-child(2)) {
				border-bottom: 1px solid var(--tj-color-border-1);
			}
		}
	}
	@media #{$xs} {
		flex-wrap: wrap;
		.countup-item {
			max-width: 100%;

			&:not(:last-child) {
				&::after {
					display: block;
					width: 100%;
					height: 0;
					border-bottom: 1px solid var(--tj-color-border-1);
					inset-inline-start: 0;
					top: auto;
					bottom: 0;
					transform: translateY(50%);
				}
				&::before {
					inset-inline-end: 50%;
					top: auto;
					bottom: 0;
					transform: translate(50%, 50%);
				}
			}
		}
	}
}
/* !END: Countup CSS */
