@use "../utilities" as *;

/**----------------------------------------
START: Theme Marquee CSS
----------------------------------------*/
.marquee-wrap {
	background-color: var(--tj-color-theme-primary);
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	.marquee-icon,
	.marquee-text {
		color: var(--tj-color-theme-dark);
	}
	@media #{$md, $sm, $xs} {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

.marquee {
	&-area {
		border-top: 1px dashed var(--tj-color-border-1);
		border-bottom: 1px dashed var(--tj-color-border-1);
		padding: 5px 0;
	}
	&-item {
		width: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 35px;
		.marquee-text {
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 1px var(--tj-color-theme-dark-3);
			font-size: 74px;
			font-weight: var(--tj-fw-sbold);
			font-family: var(--tj-ff-heading);
			line-height: 1.3;
			margin: 0;
			span {
				display: inline-flex;
				margin-inline-end: 35px;
				@media #{$md, $sm} {
					margin-inline-end: 25px;
				}
				@media #{$xs} {
					margin-inline-end: 20px;
				}
			}
			@media #{$lg, $md} {
				font-size: 60px;
			}
			@media #{$sm, $xs} {
				font-size: 50px;
			}
		}
		.marquee-icon {
			i {
				position: relative;
				top: 4px;
				color: var(--tj-color-theme-primary);
				font-size: 40px;
				line-height: 1;
				animation: rotateAntiClock 6s linear infinite;
			}
			img {
				height: 100%;
			}
			@media #{$xl, $lg} {
				font-size: 35px;
			}
			@media #{$md} {
				font-size: 30px;
			}
			@media #{$sm, $xs} {
				font-size: 22px;
			}
		}
		&:hover {
			.marquee-text {
				-webkit-text-stroke: 1px var(--tj-color-theme-primary);
			}
		}
		@media #{$md, $sm} {
			gap: 25px;
		}
		@media #{$xs} {
			gap: 20px;
		}
	}

	&-item-2 {
		width: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--gap);

		.marquee-icon {
			width: 100px;
			height: 100px;
			background-color: var(--tj-color-theme-bg);
			border: 1px solid var(--tj-color-border-1);
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 40px;
			line-height: 1;
			color: var(--tj-color-theme-primary);

			i,
			svg {
				display: inline-flex;
				line-height: 1;
				animation: rotateAntiClock 10s linear infinite;
			}
			svg {
				max-width: 40px;
				height: auto;
			}
		}
		.marquee-text {
			font-weight: var(--tj-fw-sbold);
			font-family: var(--tj-ff-heading);
			font-size: 106px;
			line-height: 1;
			letter-spacing: -0.03em;
			color: var(--tj-color-heading-primary);
			margin: 0;
			opacity: 0.1;
		}

		&:hover {
			.marquee-text {
				opacity: 1;
			}
		}

		@media #{$xl, $lg} {
			.marquee-icon {
				width: 80px;
				height: 80px;
				font-size: 35px;

				svg {
					max-width: 35px;
				}
			}
			.marquee-text {
				font-size: 80px;
			}
		}
		@media #{$md} {
			.marquee-icon {
				width: 75px;
				height: 75px;
				font-size: 30px;

				svg {
					max-width: 30px;
				}
			}
			.marquee-text {
				font-size: 75px;
			}
		}
		@media #{$sm} {
			.marquee-icon {
				width: 60px;
				height: 60px;
				font-size: 25px;

				svg {
					max-width: 25px;
				}
			}
			.marquee-text {
				font-size: 60px;
			}
		}
		@media #{$xs} {
			.marquee-icon {
				width: 50px;
				height: 50px;
				font-size: 20px;

				svg {
					max-width: 20px;
				}
			}
			.marquee-text {
				font-size: 50px;
			}
		}
	}
	&-item-3 {
		width: auto;
		display: flex;
		align-items: center;
		gap: var(--gap);
		.marquee-icon {
			font-size: 27px;
			line-height: 1;
			color: var(--tj-color-theme-dark);

			i,
			svg {
				display: inline-flex;
				line-height: 1;
				animation: rotateAntiClock 10s linear infinite;
			}
			svg {
				max-width: 27px;
				height: auto;
			}
		}
		.marquee-text {
			line-height: 1;
			letter-spacing: -0.03em;
			color: var(--tj-color-theme-dark);
			margin: 0;
		}
	}
}

/* Scroll slider */
.scroll-slider {
	--gap: 35px;
	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
	align-items: center;
	gap: var(--gap);
	@media #{$md, $sm} {
		--gap: 25px;
	}
	@media #{$xs} {
		--gap: 20px;
	}
}
.scroll-wrapper {
	flex-shrink: 0;
	display: flex;
	gap: var(--gap);
	min-width: 100%;
	animation: scroll 30s linear infinite;
}
.marquee-slider-2 {
	--gap: 30px;
	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
	align-items: center;
	gap: var(--gap);
	padding: 28px 0;
	background-color: var(--tj-color-theme-primary);
	border-start-start-radius: 16px;
	border-start-end-radius: 16px;
	@media #{$md, $sm} {
		--gap: 25px;
		border-start-start-radius: 12px;
		border-start-end-radius: 12px;
	}
	@media #{$xs} {
		--gap: 20px;
		border-start-start-radius: 12px;
		border-start-end-radius: 12px;
	}
}
.marquee-slider-wrapper {
	flex-shrink: 0;
	display: flex;
	gap: var(--gap);
	// min-width: 100%;
	animation: scroll 30s linear infinite;
}

/* RTL override */
[dir="rtl"] {
	.scroll-wrapper {
		animation: scroll-rtl 30s linear infinite;

		.marquee-item-2 {
			.marquee-icon {
				i,
				svg {
					animation: rotateClock 10s linear infinite;
				}
			}
		}
	}
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

@keyframes scroll-rtl {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(100% + var(--gap)));
	}
}

/* !END: Theme Marquee CSS */
