@use "../utilities" as *;

/**----------------------------------------
START: Project CSS
----------------------------------------*/
.tj-project-section {
	background-color: var(--tj-color-theme-bg);
	border-radius: 16px;
	.sec-heading {
		.desc {
			max-width: 248px;
			width: 100%;
			margin-bottom: 0;
		}
	}
	@media #{$md, $sm, $xs} {
		border-radius: 12px;
	}
}
.project-wrapper {
	padding: 0 30px;
	@media #{$lg, $md} {
		padding: 0 20px;
	}
	@media #{$sm, $xs} {
		padding: 0 15px;
	}
}

.project-item {
	padding: 0;
	min-height: 560px;
	position: relative;
	.project-img {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(
				to bottom,
				rgba(10, 10, 9, 0) 0%,
				rgba(10, 10, 9, 1) 100%
			);
			opacity: 0.6;
			pointer-events: none;
		}
	}
	.project-content {
		background-color: var(--tj-color-theme-dark);
		border: 1px solid var(--tj-color-border-1);
		padding: 30px 30px 23px 30px;
		width: calc(100% - 30px);
		margin: 15px;
		border-radius: 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		@include transition(all 0.3s ease-in-out 0s);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		@media #{$lg, $md, $sm, $xs} {
			padding: 20px 15px;
			margin: 10px;
		}
	}
	.title {
		max-width: 185px;
		width: 100%;
		margin-bottom: 0;
		a {
			&:hover {
				letter-spacing: 0;
			}
		}
		@media #{$lg, $sm, $xs} {
			max-width: 170px;
			font-size: 20px;
		}
	}
	.tj-icon-btn {
		margin-bottom: 6px;
		@media #{$lg, $sm, $xs} {
			width: 50px;
			height: 50px;
		}
	}
	&:hover {
		.tj-icon-btn {
			background-color: var(--tj-color-theme-primary);
			i {
				color: var(--tj-color-theme-dark);
			}
		}
		.project-img {
			img {
				transform: perspective(600px) rotateX(0deg) rotateY(0.05deg) scaleX(1.1)
					scaleY(1.1) !important;
			}
		}
	}

	@media #{$xl, $lg} {
		min-height: 500px;
	}
	@media #{$md, $sm} {
		min-height: 470px;
	}
	@media #{$xs} {
		min-height: 400px;
	}
}

.project-img {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.5s;
		transform-origin: center center;
		transform: perspective(0) rotateX(0) rotateY(0) scaleX(1) scaleY(1);
	}
}

.categories {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 1;
	a {
		background-color: var(--tj-color-theme-bg);
		border: 1px solid var(--tj-color-border-1);
		color: var(--tj-color-theme-primary);
		font-size: 16px;
		line-height: 1;
		font-weight: var(--tj-fw-medium);
		padding: 4px 10px;
		display: inline-flex;
		overflow: hidden;
		border-radius: 50px;
		&:hover {
			background-color: var(--tj-color-theme-primary);
			border-color: var(--tj-color-theme-primary);
			color: var(--tj-color-theme-dark);
		}
	}
}
.tj-project-section-2 {
	.sec-heading {
		.desc {
			margin-top: 16px;
			margin-bottom: 26px;
			max-width: 360px;
		}
	}
}

.project-wrapper {
	&-2 {
		padding: 0;
		.project {
			&-item {
				position: relative;
				display: flex;
				align-items: center;
				padding: 15px 30px 15px 15px;
				background-color: var(--tj-color-theme-bg);
				border: 1px solid var(--tj-color-border-1);
				border-radius: 12px;
				min-height: inherit;
				gap: 30px;
				&:not(:last-child) {
					margin-bottom: 30px;
					@media #{$sm,$xs} {
						margin-bottom: 20px;
					}
				}
				@media #{$sm,$xs} {
					gap: 20px;
				}
				@media #{$xs} {
					padding: 15px;
					flex-direction: column;
				}
				.categories {
					margin-bottom: 16px;
					a {
						background-color: var(--tj-color-theme-dark);
						&:hover {
							background-color: var(--tj-color-theme-primary);
						}
					}
				}
				.title {
					max-width: 100%;
					margin-bottom: 18px;
				}
				.desc {
					margin-bottom: 24px;
					color: var(--tj-color-text-body-2);
				}
				.tj-icon-btn {
					width: 52px;
					height: 52px;
				}
			}
			&-img {
				position: relative;
				max-width: 390px;
				height: 390px;
				@media #{$lg,$xs} {
					height: 327px;
				}
				@media #{$xs} {
					max-width: 100%;
				}
				&::before {
					display: none;
				}
				a {
					display: block;
					height: 100%;
				}
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}

			&-content {
				position: static;
				padding: 15px 0;
				margin: 0;
				border: 0;
				background-color: transparent;
				border-radius: 0;
				@media #{$xs} {
					width: 100%;
					padding: 10px 8px;
				}
			}
		}
	}
}
/* !END: Project CSS */
