@use "../utilities" as *;

/**----------------------------------------
START: Team CSS
----------------------------------------*/
.tj-team-section {
	.sec-heading {
		.desc {
			max-width: 262px;
			margin-bottom: 0;
		}
	}
}

.team-item {
	background-color: var(--tj-color-theme-bg);
	border: 1px solid var(--tj-color-border-1);
	border-radius: 10px;
	padding: 10px;
	.team-img {
		position: relative;
		z-index: 1;
		overflow: hidden;
		border-radius: 10px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.5s;
			transform-origin: center center;
			transform: perspective(0) rotateX(0) rotateY(0) scaleX(1) scaleY(1);
		}
	}
	.social-links {
		position: absolute;
		bottom: 0;
		right: 0;
		@include transition(all 0.3s ease-in-out 0s);
		background-color: var(--tj-color-theme-bg);
		border-top-left-radius: 10px;
		padding: 15px 5px 0 15px;
		z-index: 2;
		&::after,
		&::before {
			content: "";
			position: absolute;
			background-color: transparent;
			top: -20px;
			right: 0;
			width: 10px;
			height: 20px;
			box-shadow: 0 10px 0 0 var(--tj-color-theme-bg);
			border-bottom-right-radius: 10px;
			z-index: -1;
		}
		&::after {
			top: auto;
			right: auto;
			bottom: 0;
			left: -10px;
		}
		.share-icon {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background-color: var(--tj-color-theme-primary);
			width: 32px;
			height: 32px;
			border-radius: 50%;
			font-size: 18px;
			color: var(--tj-color-theme-dark);
			line-height: 1;
			position: absolute;
			right: 5px;
			bottom: 0;
			z-index: 2;
		}
		ul {
			flex-direction: column;
			justify-content: center;
			gap: 0;
			opacity: 0;
			@include transition(all 0.3s ease-in-out 0s);
			li {
				margin-bottom: -32px;
				&:last-child {
					margin: 0;
				}
				a {
					background-color: var(--tj-color-theme-dark-3);
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	.team-content {
		padding: 22px 20px 12px 20px;
		width: 100%;
		@media #{$lg, $sm, $xs} {
			padding: 20px;
		}
	}
	.title {
		display: block;
		margin-bottom: 0;
		a {
			&:hover {
				color: var(--tj-color-theme-primary);
			}
		}
	}
	.designation {
		font-size: 14px;
		color: var(--tj-color-text-body-2);
		line-height: 1;
		display: inline-flex;
	}

	&:hover {
		.team-img {
			img {
				transform: perspective(600px) rotateX(0deg) rotateY(0.05deg) scaleX(1.1)
					scaleY(1.1) !important;
			}
		}
		.share-icon {
			opacity: 0;
			visibility: hidden;
		}
		ul {
			gap: 10px;
			opacity: 1;
			li {
				margin: 0;
			}
		}
	}
}
.social-links {
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		li {
			a {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				background-color: var(--tj-color-theme-dark-2);
				color: var(--tj-color-common-white);
				font-size: 18px;
				line-height: 1;
				overflow: hidden;
				position: relative;
				z-index: 1;
				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					border-radius: 50%;
					top: 100%;
					left: 0;
					background-color: var(--tj-color-theme-primary);
					z-index: -1;
					pointer-events: none;
					@include transition(all 0.3s linear);
				}
				&:hover {
					color: var(--tj-color-theme-dark);
					&::before {
						top: 0;
					}
				}
			}
		}
	}
}
/* !END: Team CSS */
